.section-10 {
  //position: relative;
  @include media1200 {
    padding-bottom: 230px;
  }
  @include media768   {
    padding-bottom: 80px;
  }
  .title {
    margin-bottom: 60px;
    @include media1200 {
      margin-bottom: 40px;
    }
    @include media768 {
      margin-bottom: 20px;
    }
  }
  &__btn {
    margin-left: 30px;
    @include media1200 {
      margin-left: 0;
      position: absolute;
      bottom: -172%;
      left: 50%;
      transform: translateX(-50%);
    }
    @include media768 {

    }
    @include media768 {
      display: none;
      //bottom: -125px;
    }
  }
  &__photos {
    width: 1200px;
    margin: 0 auto;
    @include media1200 {
      width: 768px;
    }
    @include media768 {
      width: 320px;
    }
  }
  .slick-dots {
    justify-content: center;
  }
}
.block-text {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 83px;
  padding-left: 90px;
  //position: relative;
  @include media1200 {
    padding-left: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  @include media768 {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 32px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 23px;
    left: 23px;
    width: 36px;
    height: 3px;
    background: $accent;
    @include media1200 {
      display: none;
    }
  }
  p {
    margin: 10px 0;
  }
}
.photos {
  display: flex;
  justify-content: space-between;
  .photo__img {
    width: 360px;
    height: 360px;
    overflow: hidden;
    flex-grow: 0;
    //flex-shrink: 0;
    //margin-bottom: 20px;
    margin: 0 25px 20px;
    background-size: cover;
    background-position: 50% 50%;
    //@include media1200 {
    //   width: 200px;
    //   height: 140px;
    //   margin: 0 10px 20px;
    // }
    @include media768 {
      width: 240px;
      height: 240px;
      margin: 0 10px 20px;
    }
    img {
      //width: 100%;
      //height: auto;
      height: 100%;
      width: auto;
    }
  }
}
