.section-1 {
  height: 100vh;
  background: #000 url("../images/img4.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  @include media1200 {
    justify-content: center;
  }
  &__wrap {
    text-align: center;
  }
  &__title {
    font-family: 'Rubik-BoldItalic';
    font-size: 74px;
    text-transform: uppercase;
    line-height: 1.1;
    max-width: 800px;
    margin: 70px 0 30px;
    @include media1200 {
      font-size: 50px;
      line-height: 1.2;
      margin: 50px auto 25px;
      max-width: 500px;
    }
    @include media768 {
      font-size: 26px;
    }
  }
  &__subtitle {
    font-size: 24px;
    font-family: 'Rubik-BoldItalic';
    text-transform: uppercase;
    color: $accent;
    word-spacing: 5px;
    position: relative;
    margin-bottom: 100px;
    display: block;
    @include media1200 {
      font-size: 20px;
      word-spacing: 0;
    }
    @include media768 {
      margin-bottom: 40px;
    }
    &:after {
      content: '';
      display: block;
      height: 3px;
      width: 165px;
      background-color: $accent;
      position: absolute;
      bottom: -30px;
      @include media1200 {
        left: 50%;
        transform: translateX(-50%);
      }
      @include media768 {
        display: none;
      }
    }
  }
  &__info {
    font-size: 24px;
    font-family: 'Rubik-Italic';
    max-width: 520px;
    word-spacing: 2px;
    line-height: 1.6;
    margin-bottom: 80px;
    span {
      font-family: 'Rubik-MediumItalic';
      @include media480 {
        font-family: 'Rubik-Italic';
      }
    }
    @include media1200 {
      font-size: 20px;
      text-align: center;
      margin: 0 auto 60px;
    }
    @include media768 {
      font-size: 17px;
      margin-bottom: 48px;
    }
  }
}

