mixin section-1
    section.section.section--dark.section-1#section-1

        .container.section-1__wrap
            h1.section-1__title Фитнес-студия нового формата
            span.section-1__subtitle по отработанной американской бизнес-модели
            .section-1__info Получайте доход от <span>150 000р.</span> даже летом с минимальными вложениями <span>400 000р.</span>
            .section__form.form.form-phone
                input.input(type="tel", name ="phone", placeholder="Ваш телефон")
                button.btn-accent(type="submit")
                    span Узнать больше
            .section__small-text Ваши данные надежно защищены в соответствии с <span>политикой обработки данных.</span>