mixin section-13
    section.section.section--dark.section-13#section-13
        .container
            h2.title Откройте свою фитнес-студию
            .section__form.form.form-phone
                input.input(type="tel", name ="phone", placeholder="Ваш телефон")
                button.btn-accent(type="submit")
                    span Узнать больше
            .section__small-text Ваши данные надежно защищены в соответствии с <span>политикой обработки данных.</span>
