@import "variables";
@import "mixins";
@import 'normalize';
@import 'fonts';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Rubik-Italic';
  //font-family: $font-family;
  background: #fff;
  @include media768 {
    font-size: 14px;
  }
}

img {
  display: block;
  width: 100%;
}

.page {
  &__wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
  }
}
.section {
  flex-grow: 1;
  flex-shrink: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @include media1200 {
    width: 700px;
  }
  @include media768 {
    width: 320px;
  }
}
.section {
  padding: 130px 0;
  position: relative;
  @include media1200 {
    padding: 80px 0;
  }
  @include media480 {
    padding: 45px 0;
  }
  &__title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    @include media1200 {
      flex-direction: column;
      align-items: center;
    }
    @include media768 {
      margin-bottom: 50px;
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    @include media1200 {
      flex-wrap: wrap;
    }
  }
  &__col {
    width: 45%;
    display: flex;
    flex-direction: column;
    @include media1200 {
      width: 100%;
    }
  }
  &__small-text {
    font-size: 13px;
    line-height: 30px;
    font-family: 'Rubik-Italic';
    padding-left: 45px;
    opacity: .4;
    text-align: left;
    background: url("../images/locked.svg") no-repeat 0% 50%/contain;
    @include media1200 {
      text-align: center;
      display: inline-block;
    }
    @include media768 {
      line-height: 1.4;
      background: none;
      padding: 0;
      font-size: 12px;
    }
    span {
      text-decoration: underline;
    }
  }
  &__form {
    @include media1200 {
      display: flex;
      justify-content: center;
    }
  }
}
.section--dark {
  position: relative;
  color: #fff;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .85);
    z-index: 0;
  }
}
.title {
  font-family: 'Rubik-BoldItalic';
  font-size: 46px;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include media1200 {
    font-size: 36px;
    text-align: center;
  }
  @include media768 {
    font-size: 24px;
  }
}
.text-accent {
  text-transform: uppercase;
  margin-left: 30px;
  background-color: $accent;
  display: inline-flex;
  align-items: center;
  min-height: 34px;
  color: #fff;
  padding: 10px 15px;
  font-family: 'Rubik-MediumItalic';
  font-size: 15px;
  letter-spacing: 2px;
  transform: skewX(-15deg);
  span {
    transform: skewX(15deg);
    @include media768 {
      transform: skewX(0deg);
    }
  }
  @include media1200 {
    margin-top: 12px;
    margin-left: 0;
  }
  @include media768 {
    min-height: 30px;
    transform: skewX(0deg);
    font-size: 14px;
  }
}
.list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media768 {
    display: flex;
  }
}
.list__li {
  width: 30%;
  margin-bottom: 60px;
  @include media1200 {
    width: 46%;
    margin-bottom: 30px;
  }
  @include media768 {
    width: 100%;
  }
}
.list__li--dark {
  width: 26%;
  margin-bottom: 38px;
  @include media1200 {
    margin-bottom: 55px;
    &:last-child {
      width: 100%;
    }
  }
  @include media768 {
    width: 100%;
    text-align: center;
  }
}
.item {
  @include media768 {
    height: auto;
  }
  &__icon {
    position: relative;
    @include media768 {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    svg {
      width: 65px;
      height: 65px;
      fill: $accent;
    }
    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 85px;
      transform: skewX(-20deg);
      background: #eee;
      position: absolute;
      top: 35%;
      left: 5%;
      z-index: -1;
      @include media768 {
        left: 50%;
        transform: translateX(-50%) skewX(-20deg);
      }
    }
  }
  &__title {
    font-family: 'Rubik-MediumItalic';
    font-size: 20px;
    margin-left: 88px;
    margin-top: 7px;
    margin-bottom: 15px;
    line-height: 1.2;
    @include media768 {
      margin-left: 0;
      text-align: center;
    }
  }
  &__text {
    margin-left: 88px;
    font-size: 16px;
    line-height: 1.4;
    @include media768 {
      margin-left: 0;
      text-align: center;
    }
  }
}
.item-small {
  @include media1200 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    position: relative;
    @include media1200 {
      margin-bottom: 15px;
    }
    svg {
      width: 60px;
      height: 60px;
      fill: $accent;
    }
    &:after {
      content: '';
      display: block;
      width: 65px;
      height: 60px;
      transform: skewX(-20deg);
      background: rgba(#ccc, .2);
      position: absolute;
      top: 40%;
      left: 14%;
      z-index: -1;
      @include media1200 {
        left: 0;
        top: 57%;
      }
    }
  }
  &__text {
    margin-left: 80px;
    margin-top: -4px;
    line-height: 1.4;
    @include media1200 {
      margin: 0;
    }
    @include media768 {
      max-width: 250px;
    }
  }
}
.slider {
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__icon {
    padding-top: 40px;
    @include media1200 {
      padding-top: 0;
    }
    @include media768 {
      padding-top: 0;
      display: flex;
      justify-content: center;
      margin-bottom: 18px;
    }
    svg {
      width: 130px;
      height: 130px;
      fill: $accent;
      @include media1200 {
        width: 100px;
        height: 100px;
      }
      @include media768 {
        width: 80px;
        height: 80px;
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: -1;
    width: 300px;
    height: 270px;
    transform: skew(-20deg);
    clip: rect(0px, 300px, 300px, 50px);
    overflow: hidden;
    opacity: .3;
    img {
      height: 100%;
      width: auto;
      transform: skew(20deg);
    }
    @include media1200 {
      display: none;
    }
  }
  &__title {
    margin-top: -42px;
    margin-left: 142px;
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 1.4;
    @include media1200 {
      margin-top: -100px;
      margin-bottom: 25px;
    }
    @include media768 {
      margin: 0 0 30px;
      font-size: 20px;
      text-align: center;
    }
  }
  &__text {
    margin-left: 142px;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Rubik-Italic';
    @include media768 {
      margin: 0;
      font-size: 16px;
      text-align: center;
    }
  }
}
.slider__img--noImg {
  margin-bottom: 10px;
  .slider__icon {
    padding-top: 0px;
    @include media1200 {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
    @include media768 {
      margin-bottom: 20px;
    }
    svg {
      width: 100px;
      height: 100px;
      @include media1200 {
        width: 90px;
        height: 90px;
      }
      @include media768 {
        width: 80px;
        height: 80px;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 85px;
      transform: skewX(-20deg);
      background: rgba(#ccc, .2);
      position: absolute;
      top: 20%;
      left: 5%;
      z-index: -1;
      @include media1200 {
        display: none;
      }
    }
  }
  .slider__title {
    margin-top: 5px;
    margin-left: 85px;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.4;
    @include media768 {
      margin-left: 0;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .slider__text {
    margin-left: 85px;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Rubik-Italic';
    @include media768 {
      font-size: 17px;
      margin-left: 0;
      line-height: 1.5;
    }
  }
}
.btn-accent {
  background-color: $accent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 50px;
  outline: none;
  border: none;
  font-family: 'Rubik-MediumItalic';
  font-size: 18px;
  letter-spacing: 2px;
  transform: skewX(-20deg);
  cursor: pointer;
  @include media768 {
    transform: skewX(0deg);
    padding: 0 20px;
    min-height: 70px;
    display: flex;
    min-width: 260px;
  }
  span {
    transform: skewX(20deg);
    @include media768 {
      transform: skewX(0deg);
    }
  }
}
.form {
  display: flex;
  margin-bottom: 50px;
  @include media768 {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .input {
    background-color: #fff;
    display: flex;
    align-items: center;
    min-height: 85px;
    min-width: 400px;
    padding: 15px 50px 15px 30px;
    position: relative;
    outline-color: #fff;
    @include media768 {
      min-width: 100%;
      margin-bottom: 20px;
      min-height: 60px;
    }
  }
  .btn-accent {
    margin-left: -25px;
    @include media768 {
      margin-left: 0;
    }
  }
}

section .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background: #D6D6D6;
  opacity: .4;
}
section .owl-theme .owl-dots .owl-dot.active span, section .owl-theme .owl-dots .owl-dot:hover span {
  background: $accent;
  opacity: 1;
}
.owl-carousel.off {
  display: flex;
}