mixin nav
  nav.navigation
    ul.navigation__list#menu
      li.navigation__item: a(href="#section-1") Home
      li.navigation__item: a(href="#section-2")  Profits
      //li.navigation__item: a(href="#section-3")  Learn
      //li.navigation__item: a(href="#section-4") Support
      li.navigation__item: a(href="#section-5") Start
      //li.navigation__item: a(href="#section-6") Partners
      li.navigation__item: a(href="#section-7") Options
      //li.navigation__item: a(href="#section-8") About
      //li.navigation__item: a(href="#section-9") Why
      //li.navigation__item: a(href="#section-10") Design
      li.navigation__item: a(href="#section-11") Franchise
      //li.navigation__item: a(href="#section-12") Software
      //li.navigation__item: a(href="#section-13") Open
