mixin section-11
    section.section.section--dark.section-11#section-11
        .container
            .section__wrap
                .section__col
                    h2.title Обучаем франчайзи
                    .section-11__text.block-text
                        p Перед запуском фитнес-студии партнер проходит дистанционное обучение, либо руководитель приезжает в город партнера и проводит обучение.
                        p Мы обучаем работе в сети, помогаем составить бизнес-план, моделируем ситуации в бизнесе и помогаем стать грамотным руководителем фитнес-студии.
                        p Также будут проводиться постоянные дистанционные обучения франчайзи по всем новым технологиям работы фитнес-студий.
                .section__col
                    - var item = {icon: "test", title: "Полная база знаний по всем аспектам работы фитнес-студии.", text: "В базе знаний хранятся все рабочие документы, макеты рекламных материалов."}
                        +item-slider-noImg (item.icon, item.title, item.text)
                        .section-11__btn
                            button.btn-accent.btn-accent--small
                                span Узнать больше
