mixin header
    header.header
        .container.header__wrap
            .header__logo.logo
                img.logo__img(src="images/logo.png")
            .header__phone.phone
                .phone__number 8 800 355-25-35
                .phone__icon
                    +svg("phone")


