.burger {
  transform: skewX(-10deg);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  &__line:not(:last-child) {
    margin-bottom: 5px;
  }
  &__line {
    width: 30px;
    height: 4px;
    background: white;
  }
  &-wrap {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    @include media1200 {
      width: 700px;
    }
    @include media768 {
      width: 320px;
    }

    &.active {
      z-index: 200;

      .burger {
        transform: skewX(0deg);
      }

      .burger__line {
        width: 30px;
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: translateY(9px) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}